<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>権限選択ページ</title>
        <meta name="viewport" content="width=device-width">
        <script src=""></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <link rel="stylesheet" th:href="@{/css/user-list.css}">
    </head>
    <body>
        <!-- header ここから -->
        <header class="header">
            <div class="header-inner">
                <a class="header-logo" th:href="">
                    <img th:src="@{/image/Facility_logo_sumika.png}" alt="LOGO">
                </a>
                <div class="user-area">
                    <p class="login-user">
                        <span sec:authorize="hasRole('ADMIN')">
                            <i class="fa-solid fa-user-gear"></i>
                        </span>
                        <span sec:authorize="hasRole('USER')">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <span sec:authentication="principal.username">duke</span>
                    </p>
                    <form th:action="@{/logout}" method="post">
                        <input class="logoutBtn" type="submit" value="ログアウト" />
                    </form>
                </div>
            </div>
        </header>
        <!-- header ここまで -->

        <!-- main ここから -->
        <main class="main">
            <!-- 一覧表示 -->
            <div class="table-wrapper">
                <form method="post" id="tableForm">
                    <table>
                        <thead>
                            <tr>
                                <th class="checkbox-cell">チェック</th>
                                <th>ID</th>
                                <th>ユーザー名</th>
                                <th>権限</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td><input type="checkbox" name="selectedIds" th:value="${user.id}" /></td>
                                <td th:text="${user.id}">0</td>
                                <td th:text="${user.username}">ユーザー名</td>
                                <td th:text="${user.role}">権限</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </main>
        <!-- main ここまで -->

        <!-- footer ここから -->
        <footer class="footer">
            <div>
                <a class="footer-logo" th:href="@{/admin}">
                    <img th:src="@{/image/Facility_logo_sumika.png}" alt="LOGO">
                </a>
                <p class="copyright"><small>&copy; 2025 清夏 Facility Management System</small></p>
            </div>
        </footer>
        <!-- footer ここまで -->
    </body>
</html>